.profile-grid {
  display: grid;
  gap: 2rem;
  min-height: 80vh;
}
@media only screen and (min-width: 700px) {
  .profile-grid {
    grid-template-columns: 1fr 2fr;
  }
}
.profile-left {
  padding: 1rem;
}
.profile-right {
}
.profile-form {
  margin-bottom: 1rem;
}
.profile-about {
  margin-bottom: 1rem;
}
.profile-form-buttons {
  display: flex;
  justify-content: space-between;
}
